uvloop
tqdm
langchain
langchain_community
chromadb
python-dotenv
python-docx
sentence-transformers
flask
flask-cors
langchain_core
langchain_chroma
langchain_huggingface
pydantic
dotenv
requests
python-multipart
fastapi
vllm
sounddevice
faster-whisper
scipy
flask
silero_vad
flask_socketio